# Dependencias
node_modules/
package-lock.json

# Archivos de entorno
.env



# Archivos de IDE
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Archivos de build
dist/
build/
coverage/ 